.codeinfo-container {
    overflow: auto;
    width: 100%;
}

.codeinfo-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.codeinfo-container::-webkit-scrollbar-track {
    background: #f1f3f4;
}

.codeinfo-container::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
}
