@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.tab {
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 0.875rem;
    padding: 0.8rem 1rem;
    background-color: white;
    color: #5F6368;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.tab:hover {
    background-color: #ddd;
}

.active {
    color: white;
    background-color: #1A73E8;
}

.active:hover {
    background-color: #1A73E8;
}